/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Sidebar scroll */
/* .sidebar-scroll::-webkit-scrollbar {
  width: 6px;
} */

/* .sidebar-scroll::-webkit-scrollbar-track {
  background: #0a1f44; 
} */

/* .sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #F5E7C6; 
  border-radius: 3px;
} */



@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbar for right side content */
.content-scroll::-webkit-scrollbar {
  width: 6px;
}

.content-scroll::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind gray-100 */
}

.content-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 3px;
}



